@charset "UTF-8";

/*共通部分
-------------------------*/
html {
    font-size: 100%;
}
body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: aliceblue;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*レイアウト*/
.align-center {
    text-align: center;
}

/*見出し*/
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
}

.font-japanese {
    font-family: "Noto+Serif+JP:wght@200..900";
    font-weight: 500;
}

.page-title {
    color: aliceblue;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1.8rem;
    line-height: 2;
}

.page-little {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.7rem;
    color: aliceblue;
    text-decoration: underline;
}
.page-mini {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.1rem;
    line-height: 2.6;
    color: aliceblue;
}
.myth {
    padding: 0.5rem;
    margin-top: 5rem;
}

.myth p {
    margin-bottom: 3rem;
    text-align: center;
    line-height: 2.6;
}
/*ヘッダー*/
.page-header {
    padding-top: 3rem;
}
.logo {
    width: 500px;
}

.main-nav {
    display: flex;
    gap: 2.5rem;
    font-size: 1.8rem;
    justify-content: center;
    list-style-type: none;
    line-height: 2;
}

.main-nav a {
    color: #383;
}

.main-nav a:hover {
    color: aliceblue;
}

.cover {
    background-size: cover;
    background-position: center bottom;
    height: auto;
}

.cover-home {
    background-color: black;
}
.sub-cover {
    background-color: black;
}

.page-about {
    font-size: x-large;
    text-align: center;
    margin-bottom: 1rem;
}

/*フッター
-----------------------------*/
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 10px 10px;
    border-spacing: 0;
}
.info th,
.info td {
    border-bottom: 1px solid wheat;

}

.info th {
    text-align: start;
    font-size: 20px;
    padding: 0.5rem;
}
.info td {  
    padding: 1rem 0;
    font-size: 18px;
     white-space: nowrap;
}

.heading-large {
    text-align: center;
    font-size: 40px;
    margin-top: 3rem;
}

.copyright {
    background-color: aliceblue;
    text-align: center;
    background-color: black;
    padding: 1.6rem 0;
    margin-top: 1rem;
}
/*記事ーーーーーーーーーーーーー*/
.post {
    margin-bottom: 2rem;
    background-color: black;
}
.post-title {
    font-weight: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
}
.post-title a {
    color: #383;
}

.wrapper {
    background-color: black;
}