@charset "UTF-8";

/*共通部分
-------------------------*/
html {
    font-size: 100%;
}
body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #363;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*レイアウト*/
.align-center {
    text-align: center;
}

/*見出し*/
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
}

/*ヘッダー*/
.page-header {
    padding-top: 3rem;
}
.logo {
    width: 400px;
}

.main-nav {
    display: flex;
    gap: 2.5rem;
    font-size: 1.8rem;
    justify-content: center;
    list-style-type: none;
}

.main-nav a {
    color: #363;
}

.main-nav a:hover {
    color: black;
}